<%= form_with(model: staff, local: true) do |form| %>
  <% if staff.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(staff.errors.count, "error") %> prohibited this staff from being saved:</h2>

      <ul>
        <% staff.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div class="field">
    <%= form.label :training_hours %>
    <%= form.text_field :training_hours %>
  </div>

  <div class="field">
    <%= form.label :field_trip_hours %>
    <%= form.text_field :field_trip_hours %>
  </div>

  <div class="field">
    <%= form.label :planning_hours %>
    <%= form.text_field :planning_hours %>
  </div>

  <div class="field">
    <%= form.label :program_hours %>
    <%= form.text_field :program_hours %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
