<%= form_with(model: staff, local: true) do |form| %>
  <% if staff.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(staff.errors.count, "error") %> prohibited this staff from being saved:</h2>

      <ul>
        <% staff.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
  <strong>First name:</strong>
  <%= @staff.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @staff.last_name %>
</p>

  <div class="field">
    <%= form.label :total_hours %>
    <%= form.text_field :total_hours %>
  </div>

  <div class="field">
    <%= form.label :sessions_worked %>
    <%= form.text_field :sessions_worked %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
