<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @staff.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @staff.last_name %>
</p>

<div>
<p>
  <strong>  Program Hours:</strong>
  <%=   @staff.program_hours %>
</p>

<p>
  <strong>  Planning Hours:</strong>
  <%=   @staff.planning_hours %>
</p>

<p>
  <strong>  Training Hours:</strong>
  <%=   @staff.training_hours %>
</p>

<p>
  <strong>  Field Trip Hours:</strong>
  <%=   @staff.field_trip_hours %>
</p>
------------------------------------
<p>
  <strong>Total Hours:</strong>
  <%= @staff.total_hours %>
</p>

</div>

<%= link_to 'Edit', edit_staff_path(@staff) %> |
<%= link_to 'Back', staffs_path %>
