
<%= form_with(model: class_period, local: true) do |form| %>
  <% if class_period.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(class_period.errors.count, "error") %> prohibited this class_period from being saved:</h2>

      <ul>
        <% class_period.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date %>
  </div>

  <div class="field">
    <%= form.label :week_day %>
    <%= form.text_field :week_day %>
  </div>

  <div class="field">
    <%= form.label :attendance_count %>
    <%= form.number_field :attendance_count %>
  </div>

  <div class="field">
    <%= form.label :channel_name %>
    <%= form.text_field :channel_name %>
  </div>

  <div class="field">
    <%= form.label :recorded_by %>
    <%= form.text_field :recorded_by %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
