<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @school.name %>
</p>

<p>
  <strong>Days:</strong>
  <%= @school.days.each do |day| %>
    <li><%= day %></li>
  <% end %>
</p>

<p>
  <strong>Avg attendance:</strong>
  <%= @school.avg_attendance %>
</p>

<p>
  <strong>Channel Name:</strong>
  <%= @school.channel_name %>
</p>

<p>
  <strong>ClassPeriods:</strong>

  <% ClassPeriod.where(:channel_name => @school.channel_name).each do |class_period| %>
    <li><%= "Date: " + class_period.date.to_s + " Attendance: " + class_period.attendance_count.to_s %></li>
  <% end %>

  
</p>

<%= link_to '+ Add Class Period', new_class_period_path(@school) %> |
<%= link_to 'Edit', edit_school_path(@school) %> |
<%= link_to 'Back', schools_path %>
